In [1]:
import os
import numpy
import locale
import pandas as pd
import datetime as dt
locale.setlocale(locale.LC_ALL,"en_US.utf-8")

'en_US.utf-8'

In [ ]:
%matplotlib auto

In [3]:
os.getcwd()

'/home/gustavo/Documentos/python_aulas/scripts'

In [4]:
dado = pd.read_csv('../dados/giovanni/serie_temp_limpa.csv', delimiter=' ')

In [5]:
dado.columns = ['ano','mes','dia','hora','minu','seg','clorofila']

In [6]:
dado.describe()

,ano,mes,dia,hora,minu,seg,clorofila
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,2011.539535,6.525581,1.004651,0.139535,18.627907,0.730233,27.629439
std,5.179675,3.447611,0.068199,1.377072,16.193952,0.832611,0.909757
min,2003.000000,1.000000,1.000000,0.000000,0.000000,0.000000,26.043751
25%,2007.000000,4.000000,1.000000,0.000000,5.000000,0.000000,26.771666
50%,2012.000000,7.000000,1.000000,0.000000,15.000000,1.000000,27.539167
75%,2016.000000,9.500000,1.000000,0.000000,30.000000,1.000000,28.382916
max,2020.000000,12.000000,2.000000,20.000000,55.000000,10.000000,29.959572

In [7]:
Tempo = dado['dia'].astype(str) + '/' + dado['mes'].astype(str)+'/' + dado['ano'].astype(str)

In [8]:
Tempo

0       1/2/2003
1       1/3/2003
2       1/4/2003
3       1/5/2003
4       1/6/2003
         ...
210     1/8/2020
211     2/9/2020
212    1/10/2020
213    1/11/2020
214    1/12/2020
Length: 215, dtype: object

In [9]:
Tempo2 = [dt.datetime.strptime(tt,'%d/%m/%Y') for tt in Tempo]

In [21]:
Tempo2;

In [10]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [15]:
plt.figure(figsize=(20,10))

plt.plot(Tempo2, dado.clorofila, linestyle='--',
         color='darkorange',label='clorofila') # plotando o dado de clorofila

plt.xlabel('Ano') # titulo do eixo y

plt.ylabel("clorofila (ug/dL)") # titulo do eixo x

plt.title('Clorofila (Boia Fortaleza)')
plt.legend()
plt.show()

### Graficos com subplots

In [63]:
fig, ax = plt.subplots(figsize=(10,5)) # definindo o tipo de plot e tamanho

ax.plot(Tempo2, dado.clorofila) # plotando o dado

ax.set_ylabel('Clorofila') # titulo do eixo y

ax.set_xlabel("Anos") # titulo do eixo x

myfmt = mdates.DateFormatter('%b-%y') # variavel fmt define o formato da data

ax.xaxis.set_major_formatter(myfmt) # setando o formato para mes/ano

ax.xaxis.set_tick_params(labelsize = 12, labelrotation = 10) # alterando o tamanho das labels

#### Exercicios

plotar uma serie temporal de dados de ondas, esse plot tem que ter datas no eixo x e o nome do parametro (altura, Tp, Hs) no eixo y. Use a biblioteca pandas para ler os dados, use o comando describe para ver a media, desvio padr√£o, maximos e minimos. Para criar o datetime quero que use a bilioteca datetime.