# Python aplicado à analise de dados ambientais

<p style="color:blue"> Instrutor: Gustavo Leitao </p>
<p> github: @pythonistabr</p>

### variaveis e estruturas

Em python podemos ter alguns tipos de variaveis, são elas:
os trings ou texto, numeros inteiros, numeros flutuantes e numeros
complexos. Vamos começar pelos tipos de variáveis, depois avançaremos
para as estruturas de dados.

In [97]:
#para declarar uma variavel como string usamos '' ou ""
meu_nome = "gustavo"
meu_sobrenome = "viana"

### operações com strings

In [98]:
#concatenação
meu_nome_completo = meu_nome+" "+meu_sobrenome

In [99]:
print(meu_nome_completo)

gustavo viana

In [100]:
# corte de strings
meu_primeiro_nome = meu_nome_completo.split(" "+meu_sobrenome)

In [101]:
meu_primeiro_nome[0]

'gustavo'

<h3> Numeros, estruturas e indexação </h3>

<h4>

<p> listas, tuplas, dicionários e arrays são as principais estruturas de armazenamento de dados
em python. As listas, dicionarios e arrays são estruturas mutaveis, enquanto as tuplas não. Vamos começar pelas tuplas.</p>

A forma geral é:
tupla = () # instaciação de uma tupla

</h4>

#### tuplas

In [111]:
a = ('a','b','c') #declarando os valores de a

In [112]:
print(a)

('a', 'b', 'c')

In [114]:
a[0] #indexação mostrando o 1° valor armazanado na variavel a.

'a'

In [115]:
a[1] #indexação mostrando o 2° valor armazanado na variavel a.

'b'

#### dicionarios

In [116]:
nomes = ['joao','pedro','tiago']
telefones = ['555-333','222-444','985-347']
endereco = ['rua pedro 1','rua 1','beira mar']

In [117]:
#criando um dicionario
minha_agenda = {"Nome":nomes,"Telefones":telefones,"Endereco":endereco}

In [118]:
minha_agenda['Nome']

['joao', 'pedro', 'tiago']

In [119]:
minha_agenda['Telefones']

['555-333', '222-444', '985-347']

In [120]:
minha_agenda['Endereco']

['rua pedro 1', 'rua 1', 'beira mar']

In [121]:
print(minha_agenda)

{'Nome': ['joao', 'pedro', 'tiago'], 'Telefones': ['555-333', '222-444', '985-347'], 'Endereco': ['rua pedro 1', 'rua 1', 'beira mar']}

In [122]:
#alterendo valores e chaves
minha_agenda.pop("Nome") #removendo a lista de nomes os nomes

['joao', 'pedro', 'tiago']

In [124]:
minha_agenda

{'Telefones': ['555-333', '222-444', '985-347'],
 'Endereco': ['rua pedro 1', 'rua 1', 'beira mar']}

In [125]:
# inserindo uma chave
minha_agenda['Nomes'] = nomes

In [126]:
minha_agenda.items()

dict_items([('Telefones', ['555-333', '222-444', '985-347']), ('Endereco', ['rua pedro 1', 'rua 1', 'beira mar']), ('Nomes', ['joao', 'pedro', 'tiago'])])

#### listas


As listas são estruturas mutaveis, podemos inserir e remover itens delas sempre que desejamos. Vamos ver uns exemplos!

In [127]:
a = [1, 2, 3] #declarando a variavel "a"

In [128]:
a[0]

1

In [129]:
a[2]

3

In [130]:
a.append(4) # adicionando o numero 4 na lista a

In [131]:
a

[1, 2, 3, 4]

In [132]:
a.pop(3) # eliminando o ultimo valor de a

4

In [133]:
a

[1, 2, 3]

In [134]:
a[1] = 'b' # alterendo o 2º valor de a. subs "2" por "b"

In [135]:
a

[1, 'b', 3]

#### Arrays

Arrays nada mais são do que listas de listas, portando as Arrays podem ter de 0 a inf dimensões!

In [136]:
array1d = [1,2,3] # uma lista simples. So possui linhas

In [137]:
array1d

[1, 2, 3]

In [138]:
array2d = [[1,2,3],[4,5,6]] # possui linhas e colunas

In [139]:
array2d

[[1, 2, 3], [4, 5, 6]]

In [140]:
array2d[0][:]# todas as colunas da 1º linha

[1, 2, 3]

In [141]:
array2d[1][:] #todas as colunas da 2º linha

[4, 5, 6]

## loops

<h4> Loops são ferramentas muito úteis em programacao, com eles é possível executar
processos de forma repetitiva até que uma condição seja quebrada ou alcançada.
Vamos começar com loops "while" e depois o "for".</h4>

In [2]:
"""
forma geral de um loop while

while condicao:
    comandos
""" ;

In [145]:
n = 0

while n<= 5:
    
    print(n)
    n = n+1

1
2
3
4
5
6

In [147]:
for iterador in [1,2,3,4,5,6,7,8,9,10]:
    print(iterador)

1
2
3
4
5
6
7
8
9
10

### Iteracoes sobre listas

In [4]:
minha_lista = [iterador for iterador in range(0,5)]

In [5]:
minha_lista

[0, 1, 2, 3, 4]

    """
    Operadores

    x + y	soma
    x - y	subtracao
    x * y	produto
    x / y	divisao
    x // y  divisao inteira
    x ** y  potenciacao
    x % y	divisao resto
    """

## Exercícios

1 faça uma iteracao com loop for em uma lista que contenha mumeros de 1 a 100,
dentro do loop insira um comando para imprimir o valor do iterador.

2 faça uma iteracao com loop while em uma lista de que contenha mumeros de 1 a 100,
dentro do loop insira um comando para imprimir o valor do contador.

3 crie um dicionario que contenha nomes, endereco e email.